/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Stop the page from scrolling */
  background-color: #242424;
  color: white;
  font-family: system-ui, sans-serif;
}